body{
    font-family: Arial, Helvetica, sans-serif;
    background: #ccc9c9;
}
#principal{
    width: 960px;
    margin: 0 auto;
    border: 1px solid black;
    background: #061340;
}

/*CSS com mesmas caracteristicas*/
#conteiner-cabecalho{
    display: grid;   
}

.box{
    color: #edb626;
    margin: 10px;  
}

fieldset{
    border-radius: 5px;
}

fieldset legend{
    margin-bottom: 20px;
    font-weight: bolder;  
}

input, select{
    font: 2.2em;
    line-height: 25px;
    border: 0.5px solid #e7e7e7;
    border-radius: 5px; 
    margin-top: 5px;
    padding: 5px;
    padding-left: 5px;
    font-size: 16px;
}

.razaoSocial,
.unidadeObra,
.data-nascimento,
.cargo,
.setor,
.toxicologicos{
    margin-left: 15px;
}

.campo-cnpj,
.razaoSocial,
.unidadeObra,
.nome,
.rg,
.cpf,
.cargo,
.setor,
.data-nascimento,
.tipos,
.toxicologicos{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

/* Remove os controles no Chrome, Edge e Safari*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Remove os controles no Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

/*CABECALHO*/
#conteiner-cabecalho{
    margin: 10px;
    padding-left: 5px;
    grid-template-columns: 0.7fr 3.7fr 0.8fr;
    justify-items: center;
    align-items: center;
    color: #edb626;
}

.imagem{
    padding-top: 3px;
}

div img{
    width: 150px;
}

#titulo1, #titulo2{ 
    font-size: 20px;
}

/*DADOS DA EMPRESA*/
.campos-empresa{
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.5fr;
}

#pergunta{
    width: 15px;
}

#razaoSocial{
    margin-left: 10px;
}

#unidade-obra{
    width: 250px;
}

/*DADOS DO FUNCIONÁRIO*/
.campos-funcionario{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/*EXAMES*/
#exames{
    display: grid;
    grid-template-columns: 1fr 1fr;
}



